body{
  font-weight: 100 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.full-height {
  height: 100vh;
}
.full-width {
  width: 100%
}

.title {
  font-size: 64px;
  font-weight: 100;
}
.body_event{
  margin-top: 66px;
}
#errormsg{
  padding-left: 40px;
}

.badge-default {
  background-color: $gray-light;
}

.badge-success {
  background-color: $brand-success;

}